<div class="container-fluid divbody">
    <div class="container-fluid">
      <br>
      <button class="btn btn-light btn-sm float-right" (click)="openUploadFrom()">Upload File</button>
      <h4>Reports File Storage</h4>
      <div class=" searchbar">
         <input type="text" class="form-control form-control-sm " placeholder="Search Report File">
      </div>
      <br>
      Reports
      <a [href]="fileUrl" *ngIf="pdfReports" download="test.pdf">{{pdfReports.filename}}</a>
      <!-- <table>
        <tbody>
          <tr *ngFor="let pdf of pdfReports">
              <td>{{pdf.id}}</td>
              <td>{{pdf.filename}}</td>
          </tr>
        </tbody>
      </table> -->
      <!-- <div *ngFor="let pdf of pdfReports">

      </div> -->
    </div>
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  