<div class="modal-body divbody">
    <div class="row py-4 ">
      <div class="col-lg-6 mx-auto">
        <!-- Upload image input-->
        <div class="container text-center">
            
        <img src="/assets/cloud.png" class="vert-move">
        </div>
        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
          <input
            id="upload"
            type="file"
            accept="application/pdf"
            (change)="onFileChanged($event)"
            class="form-control border-0"
          />
          <label
            id="upload-label"
            for="upload"
            class="font-weight-light text-muted"
            >Choose file</label
          >
          <div class="input-group-append">
            <label for="upload" class="btn btn-light m-0 rounded-pill px-4">
              <i class="fa fa-cloud-upload mr-2 text-muted"></i
              ><small class="text-uppercase font-weight-bold text-muted"
                >Choose file</small
              ></label
            >
          </div>
        </div>
        
        <!-- Uploaded image area-->
        <p class="font-italic text-primary text-center">
          Browse PDF file to be uploaded to the system.
        </p>
        <div class="container text-center">
          <button class="btn btn-lg btn-primary btn-block text-uppercase"   (click)="onUpload()"
          value="upload" id="uploadbtn" >
            Upload
            </button>
        </div>
    
      </div>
    </div>
  </div>
  
  