<div class="container-fluid mt-4 divbody">
    <h5><img src="assets/filter.png" alt="" /> Filter</h5>
        <form>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="exampleFormControlSelect1">Program</label>
              <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                      <option [ngValue]="program" *ngFor="let program of programs">{{program.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="exampleFormControlSelect1">Province</label>
              <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                      <option [ngValue]="province" *ngFor="let province of provinces">{{province.name}}</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="exampleFormControlSelect1">Year</label>
              <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                <option>2020</option>
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
              </select>
            </div>
          </div>
        </form>
        
        
      </div>
  
      